/*! Flickity v2.0.8 */
.main-carousel {
    margin-bottom: 30px;
    background: #EEE;
}
.carousel-cell {
    width: 100%;
    margin-right: 0px;
    background: #fff;
    counter-increment: carousel-cell;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.carousel-cell:after {
    display: block;
    padding-bottom: 66%;
    content: '';
}
.flickity-enabled {
    position: relative;
}
.flickity-enabled:focus {
    outline: none;
}
.flickity-viewport {
    overflow: hidden;
    position: relative!important;
    height: 100%;
}
.flickity-slider {
    position: absolute;
    width: 100%;
    height: 100%;
}
/* draggable */
.flickity-enabled.is-draggable {
    tap-highlight-color: transparent;
    user-select: none;
}
.flickity-enabled.is-draggable .flickity-viewport {
    cursor: move;
    cursor: -webkit-grab;
    cursor: grab;
}
.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
    cursor: -webkit-grabbing;
    cursor: grabbing;
}
/* ---- previous/next buttons ---- */
.flickity-prev-next-button {
    background: transparent;
    border-radius: 0px;
    border: none;
    bottom: 0px;
    cursor: pointer;
    height: 44px;
    outline: 3px solid red;
    position: absolute;
    transform: translateY(-50%);
    width: 44px;
}
.flickity-prev-next-button:hover {
}
.flickity-prev-next-button:focus {
    outline: none;
    box-shadow: 0 0 0 5px #09F;
}
.flickity-prev-next-button:active {
    /* opacity: 0.6; */
}
.flickity-prev-next-button.previous {
    left: 15px;
}
.flickity-prev-next-button.next {
    right: 15px;
}

.flickity-prev-next-button:disabled {
    opacity: 0.3;
    cursor: auto;
}
.flickity-prev-next-button svg {
    position: absolute;
    left: 20%;
    top: 20%;
    width: 60%;
    height: 60%;
}
.flickity-prev-next-button .arrow {
    fill: red;
}
.flickity-prev-next-button:hover .arrow {
    fill: black;
}
.flickity-prev-next-button:hover {
    background: transparent;
}

/* ---- page dots ---- */
.flickity-page-dots {
    position: absolute;
    width: 100%;
    bottom: -25px;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    line-height: 1;
}
.flickity-rtl .flickity-page-dots {
    direction: rtl;
}
.flickity-page-dots .dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 8px;
    background: #333;
    border-radius: 50%;
    opacity: 0.25;
    cursor: pointer;
}

.flickity-page-dots .dot.is-selected {
    opacity: 1;
    background: black;
}


@media only screen and (max-width: 480px) {

  /* Flickity */
  .main-carousel {
    margin-bottom: 15px;
  }

  .carousel-cell {
    width: 100%;
    margin-right: 0;
    background: #fff;
    counter-increment: carousel-cell;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .carousel-cell:after {
    display: block;
    padding-bottom: 75%;
    content: '';
  }

  .flickity-prev-next-button {
    position: absolute;
    bottom: 0;
    width: 30px;
    height: 30px;
    border: none;
    background: transparent;
    cursor: pointer;
    outline: 2px solid white;
    border-radius: 0;
    transform: translateY(-50%);
  }

  .flickity-prev-next-button:hover {}

  .flickity-prev-next-button:focus {
    outline: none;
    box-shadow: 0 0 0 5px #09F;
  }

  .flickity-prev-next-button:active {
    /* opacity: 0.6; */
  }

  .flickity-prev-next-button.previous {
    left: 15px;
  }

  .flickity-prev-next-button.next {
    right: 15px;
  }
/* applies if only one image */
  .flickity-prev-next-button:disabled {
    opacity: 0.3;
    cursor: auto;
  }

  .flickity-prev-next-button svg {
    position: absolute;
    left: 20%;
    top: 20%;
    width: 60%;
    height: 60%;
  }

  .flickity-prev-next-button .arrow {
    fill: white;
  }

  .flickity-prev-next-button:hover .arrow {
    fill: $bodycolor;
  }

  .flickity-prev-next-button:hover {
    background: white;
  }
}
